<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
        <title>举重竞技备战系统主页</title>
		
        <!-- All Plugins Css -->
        <link href="static/assets/css/plugins.css" rel="stylesheet">
		 

        <!-- Custom CSS -->
        <link href="static/assets/css/styles.css" rel="stylesheet">
    </head>
	
    <body class="blue-skin">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="Loader"></div>
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			
			<!-- ============================ Hero Banner  Start================================== -->
			<div class="hero-banner center" style="background:#93d4f0;">
				<div class="container">
					<h1><span>欢迎使用 </span>举重竞技备战系统</h1>
					<p class="lead">本系统使用Python语言开发，基于多源数据</p></br>
					<div class="container">
						<div class="row">	
							<!-- Single Category -->
							<div class="col-lg-4 col-md-4 col-sm-8">
								<div class="urip_cated shadow">
									<div class="urip_cated_avater">
										<img src="static/assets/img/add.jpg" class="img-fluid" alt="" />
									</div>
									<div class="urip_cated_caps">
										<h3 class="cats_urip_title"><a href="/add">添加数据</a></h3>
									</div>
								</div>
							</div>
							<!-- Single Category -->
							<div class="col-lg-4 col-md-4 col-sm-8">
								<div class="urip_cated shadow">
									<div class="urip_cated_avater">
										<img src="static/assets/img/currenttask.jpg" class="img-fluid" alt="" />
									</div>
									<div class="urip_cated_caps">
										<h3 class="cats_urip_title"><a href="/currenttask">配置任务</a></h3>
									</div>
								</div>
							</div>
							<!-- Single Category -->
							<div class="col-lg-4 col-md-4 col-sm-8">
								<div class="urip_cated shadow">
									<div class="urip_cated_avater">
										<img src="static/assets/img/journal.jpg" class="img-fluid" alt="" />
									</div>
									<div class="urip_cated_caps">
										<h3 class="cats_urip_title"><a href="/journal">任务日志</a></h3>
									</div>
								</div>
							</div>		
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Hero Banner End ================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="static/assets/js/jquery.min.js"></script>
		<script src="static/assets/js/popper.min.js"></script>
		<script src="static/assets/js/bootstrap.min.js"></script>
		<script src="static/assets/js/select2.min.js"></script>
		<script src="static/assets/js/owl.carousel.min.js"></script>
		<script src="static/assets/js/ion.rangeSlider.min.js"></script>
		<script src="static/assets/js/counterup.min.js"></script>
		<script src="static/assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->		
	</body>
</html>