
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
        <title>任务日志</title>
		
        <!-- All Plugins Css -->
        <link href="static/assets/css/plugins.css" rel="stylesheet">
		 

        <!-- Custom CSS -->
        <link href="static/assets/css/styles.css" rel="stylesheet">
    </head>
	
    <body class="blue-skin">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="Loader"></div>
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
            <div class="header header-light">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<nav id="navigation" class="navigation navigation-landscape">
								<div class="nav-header">
									<a class="nav-brand" href="#">
										<h1><a href='/'>主页</a></h1>
									</a>
									<div class="nav-toggle"></div>
							</nav>
						</div>
					</div>
				</div>
			</div>
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			<!-- ============================ Hero Banner  Start================================== -->
			<!-- ============================ Hero Banner End ================================== -->
			<!-- ============================ All Images List Start ================================== -->
			<!-- ============================ All Images List End ================================== -->
			<!-- ============================ News category List ================================== -->
			<!-- ============================ News category End ================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="static/assets/js/jquery.min.js"></script>
		<script src="static/assets/js/popper.min.js"></script>
		<script src="static/assets/js/bootstrap.min.js"></script>
		<script src="static/assets/js/select2.min.js"></script>
		<script src="static/assets/js/owl.carousel.min.js"></script>
		<script src="static/assets/js/ion.rangeSlider.min.js"></script>
		<script src="static/assets/js/counterup.min.js"></script>
		<script src="static/assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->
		
	</body>
</html>

<section class="gray-light">
    <div class="container">
        <!-- News Detail -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="blog-details single-post-item format-standard">
                <div class="post-details">
                    <p><h4><a href="/">Task ID:20210518192838  </a></h4>Task execution time 2021-05-18 19:58:38 to 2021-05-18 19:58:47 ,a total of 1 news crawling task, 1 video crawling task, 0 athlete information crawling task, 0 competition information crawling task.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gray-light">
    <div class="container">
        <!-- News Detail -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="blog-details single-post-item format-standard">
                <div class="post-details">
                    <p><h4><a href="/">Task ID:20210530041022  </a></h4>Task execution time 2021-05-30 04:10:22 to 2021-05-30 04:10:22 ,a total of 1 news crawling task, 0 video crawling task, 0 athlete information crawling task, 0 competition information crawling task.</p>
                </div>
            </div>
        </div>
    </div>
</section><section class="gray-light">
    <div class="container">
        <!-- News Detail -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="blog-details single-post-item format-standard">
                <div class="post-details">
                    <p><h4><a href="/">Task ID:20210531024803  </a></h4>Task execution time 2021-05-31 02:48:03 to 2021-05-31 02:48:19 ,a total of 2 news crawling task, 0 video crawling task, 1 athlete information crawling task, 1 competition information crawling task.</p>
                </div>
            </div>
        </div>
    </div>
</section><section class="gray-light">
    <div class="container">
        <!-- News Detail -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="blog-details single-post-item format-standard">
                <div class="post-details">
                    <p><h4><a href="/">Task ID:20210531054150  </a></h4>Task execution time 2021-05-31 05:41:50 to 2021-05-31 05:42:39 ,a total of 18 news crawling task, 1 video crawling task, 3 athlete information crawling task, 1 competition information crawling task.</p>
                </div>
            </div>
        </div>
    </div>
</section>